header {
  background-size: cover;
  background-image: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1635915343/Projects/computerlabsnyc/bridging-the-digital-divide_sntwry.jpg');
  min-height: 100vh;
}
.donate-header{
  text-align: center;
  color: #F2F4CB;
}

.donation-flex-container {
  
}