@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  margin: 0;
  color: rgb(24, 24, 20);
  font-family: 'Mukta', sans-serif;
  letter-spacing: 1px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  width: 100%;
  bottom: 35%;
  border-radius: 25px;
  color: #e1dcdc;
  text-align: center;
}
.content span {
  display: inline-block;
}
.content span::first-letter {
  font-size: 1.1em;
}
.content-text {
  text-shadow: -1.5
  px 0 rgb(52, 52, 52), 0 1.5
  px rgb(52, 52, 52), 1.5
  px 0 rgb(52, 52, 52), 0 -1.5
  px rgb(52, 52, 52);
  font-size: 3em;
  background: rgba(0, 0, 0, 0.208);
  padding: 20px;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  /* text-transform: uppercase; */
  /* position: relative; */
  
}


.navbar {
  display: flex;
  align-items: center;
  color: rgb(24, 24, 20);
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  z-index: 1;
  letter-spacing: 1px;
  height: 75px;
}

/* HOME PAGE NAV STYLES */
nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
.navbar__item a {
  color: rgb(24, 24, 20);
  text-decoration: none;
  text-transform: uppercase;
}

.navbar__title {
  margin-right: auto;
  margin-left: 10px;
  font-size: 150%;
  padding: 3px 6px;
  border-radius: 3px;

}
.home-navbar-title {
  border: 1px solid rgb(103, 103, 103);
}

#donate-nav-item {
  background-color: rgb(40, 133, 162);
  border-radius: 3px;
  padding: 3px 6px;
  margin-right: 10px;
  font-size: 1.05em;
}
#donate-nav-item a {
  color: cornsilk;
}

@media only screen and (max-width: 800px) {
  .content {
    bottom: 20%;
    font-size: .9em;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    font-size: .8em;
  }
  /* #myVideo {
    display: none;
  }
  #home-body-static {
    background-image: url("https://res.cloudinary.com/dsxuuory9/image/upload/v1635923299/Projects/computerlabsnyc/skyline-static_q9xvg9.jpg");
    background-size: 100vh;
    background-repeat: no-repeat;

  } */
}
