body {
  background-color: #3a3b3c;
  color: rgb(245, 233, 233);
}

h1 {
  text-align: center;
}

.map-div {
  background-image: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1635919226/Projects/computerlabsnyc/nycMap_u4qlzs.jpg');
  background-size: 64%;
  background-repeat: no-repeat;
  margin-top: 6.77vh;
  margin-right: 0;
  height: 95vh;
}

.location-flex-child {
  width: 50%;
  float: left;
}
.location-flex-text {
  height: 80vh;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-decoration: underline; */
}